body {
  padding-top: 60px;
}

span.form-control {
  border:0;
  box-shadow:none;
}
.map {
  height: 300px;
}

/* 
Fixes Bootstrap issues with Google Maps
see http://stackoverflow.com/a/9170756 
*/
.map img { 
  max-width: none;
}

input {
  max-width: 4em;
}
.container {
  width: 80%;
  margin: 15px auto;
}